{% for item in items %}

    <li>
      <div>{{loop.index}}</div>
      <div class="author">2 days ago</div>
      <div>
      	<a data-toggle="modal" href="/remote/{{ item.hnsearch_id|e }}" data-target="#modal">
      		<span class="label pull-right">{{ item.num_comments|e }} comments</span>
      	</a>
      </div>
      <div>
      	<a href="{{ item.link|e }}" target="_blank" title="Offline Hacker News - {{ item.link|e('url') }}" data-target="#modal">
      		<strong>{{ item.title|e }}</strong> ({{ item.username|e }})
      	</a>
      </div>
      <div><strong>{{ item.points|e }} points</strong></div>
    </li>

{% endfor %}